<% provide(:title, 'Edit Profile') %>

<div class="form jumbotron bg-secondary text-light">
    <div class="row">
        <div class="col-6 mx-auto">
        <h1 class="text-center display-4">Edit</h1>
        <div class="container">
            <h5 class="text-center">Edit your information here.</h5>
            <div class="container">
            <%= render 'form', btn_msg: "Edit your profile" %>
            </div>
        </div>
        </div>
    </div>
</div>